<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>About</title>
</head>

<body>


  <div class="main-content">
    {{>header}}
    <img class="iimg" src="/img/SOURABH.jpeg"> </div>
  <p class="skill">Skills: HTML5, CSS3, Bootstrap,Javascript,node.js,Express.js,MongoDB,PostgreSQL,Jest,Git,Adobe
    Xd(UI/UX)</p>
  <!--<h1>{{title}}</h1>-->
  <p>NAME: {{name}}</p>

  {{>footer}}
</body>

</html>