<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Help</title>
</head>

<body>
  <div class="main-content">
    {{>header}}

    <h1 class="bond"> Needs help? feel free to reach me</h1>
    <p class="bonds">email id: sourabhnaidu40@gmail.com</p>
    <!-- <h1>{{title}}</h1>-->
    <!-- <p>{{location}}</p>-->
  </div>

  {{>footer}}
</body>

</html>