<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/mm3.jpg">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
  <div class="main-content">
    {{>header}}

    <h1>weather</h1>
    <!--<h1>{{title}}</h1>-->
    <p>Create by {{name}}</p>
    <img class="portrait"
      src="https://9b16f79ca967fd0708d1-2713572fef44aa49ec323e813b06d2d9.ssl.cf2.rackcdn.com/1140x_a10-7_cTC/Jimmy-Fontaine-jpg-1587050066.jpg">

    <form>
      <input type="text" placeholder="Location">
      <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
  </div>
  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>